.tech {
    margin-right: 6px !important;
    background: #428bca;
    color: #fff !important;
    padding: 3px;
}
/* 
.tech:hover {
    cursor: pointer !important;
    background: red;
} */

.period {
    align-self: flex-end;
}