.heroImg-wrapper {
  position: relative;
  width: 100%;
  z-index: -1000;
  height: 35vh;
  background: #730033;
}
img {
  width: 100%;
  height: 100%;
  position: relative;
  filter: opacity(0.6);
}
